html.js input.form-autocomplete {
	width: 100%;
}

input[name='field_lms_copy_sub_collection_add_more'] {
	display: none;
}

div.field-group-div {
	border: 1px solid #dddddd;
	padding: 5px;
	margin-bottom: 20px;
}
